    body {
        font-family: 'Roboto';
    }
    
    header {
        width: 100%;
        height: 69px;
        background-color: #EC362D;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .titulo {
        color: #fff;
        font-size: 37px;
        font-weight: bold;
    }
    
    main {
        margin-top: 90px;
        margin-left: 4%;
        margin-right: 4%;
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }
    
    .subtitulo {
        width: 340px;
    }
    
    h2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    
    .todos-quizzes,
    .seus-quizzes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* margin-left: -2%; */
    }
    
    .quizz-item {
        display: none;
        width: 91vw;
        height: 181px;
        border-radius: 5px;
        margin: 6px 1%;
    }
    .quizz-item-modelo{
        width: 91vw;
        height: 181px;
        border-radius: 5px;
        /* background-color: red; */
        margin: 6px 1%;
    }
    .imagem{
        
        background-image: url('https://http.cat/412.jpg');
        background-size: cover;    
        background-repeat:   no-repeat;
        background-position: center;
        width: 340px;
        height: 181px;
        /* object-fit: fill; */ 
    }
    .tituto-quizz{
        
    }
    img{
        position: relative;
        max-width: 340px;
        max-height: 181px;
        object-fit: cover;
    }

    .criar-quiz {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #FAFAFA;
        border: 1px dashed #D5D5D5;
        box-sizing: border-box;
    }
    
    .criar-quiz span {
        width: 250px;
        height: 107px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: #B9B9B9;
    }
    
    .criar-quiz button {
        Width: 151px;
        Height: 40px;
        background: #FAFAFA;
        border: 1px dashed #EC362D;
        box-sizing: border-box;
        border-radius: 50px;
        font-size: 21px;
        color: #EC362D;
        margin-top: -9px;
    }
    
    .oculto{
        display: none;
    }
@media (min-width: 414px){

   .quizz-item{
       width: 340px;
   }

}

@media (min-width: 770px){

    .criar-quiz{
        width: calc(340px * 2 + 30px);
    }
     .subtitulo{
     width: calc(340px * 2 + 20px);

    }
 
 }

 @media (min-width: 1180px){
  

    .criar-quiz{
        width:calc(340px * 3 + 60px); 
    }
    .subtitulo{
        width:calc(340px * 3 + 40px);
       }
 
 }
  