body {
    font-family: 'Roboto';
    height: 100%;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #fff;
    font-size: 37px;
    font-weight: bold;
}

main {
    margin-top: 90px;
    margin-left: 4%;
    margin-right: 4%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.subtitulo {
    width: 340px;
}

h2 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.todos-quizzes,
.seus-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.quizz-item {
    width: 91vw;
    height: 181px;
    border-radius: 5px;
    margin: 6px 1%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.titulo-quizzes {
    width: 301px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #fff;

}

.quizz-item-criar {
    width: 91vw;
    height: 181px;
    border-radius: 5px;
    margin: 6px 1%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.criar-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
}

.criar-quiz span {
    width: 250px;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #B9B9B9;
}

.criar-quiz button {
    Width: 151px;
    Height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
    margin-top: -9px;
}

.abrir-quiz {
    position: fixed;
    z-index: 2;
    top: 69px;
    background-color: #fff;
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
}

.abrir-quiz-titulo {
    font-size: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.banner {
    width: 100%;
    min-height: 142px;
    max-height: 227px;
    background-size: cover;
    background-position-y: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos-games {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}

.jogo {
    margin-top: 1.5em;
    padding: auto;
    background-color: #FFF;
    min-width: 375px;
    height: calc(100% + 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.unico-jogo{
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 340px;
}
.titulo-quizz {
    
    width: 340px;
    min-height: 89px;
    max-height: 137.99px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h3 {
    width: 80%;
    color: #fff;
    font-size: 19px;
    word-break: break-all;
    text-align: center;
}

.perguntas {
    width: 340px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
    cursor: pointer;
   

}
.correto{
    color:green;
}
.incorreto{
    color:red;
}
.escolher-resposta {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
    
}

.escolher-resposta img {
    width: 163px;
    height: 113px;

}
.texto-resposta{
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px;
}
h4{
    word-break: break-all;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.esbranquicado img, .esbranquicado span{
    opacity: 0.2;
}
.alternativa-true{
    color:green
}
.alternativa-false{
    color:red;
}
.mascara {
    color:black;
    
}

@media (min-width: 414px) {

    .quizz-item, .quizz-item-criar {
        width: 340px;
    }

}

@media (min-width: 758px) {

    .criar-quiz {
        width: calc(340px * 2 + 30px);
    }

    .subtitulo {
        width: calc(340px * 2 + 20px);

    }

}

@media (min-width: 1180px) {


    .criar-quiz {
        width: calc(340px * 3 + 60px);
    }

    .subtitulo {
        width: calc(340px * 3 + 40px);
    }

}

@media (min-width: 1607px) {
    .criar-quiz {
        width: calc(340px * 4 + 90px);
    }

    .subtitulo {
        width: calc(340px * 4 + 60px);
    }
}